<!-- ko if: highlight().visible-->
<div data-bind="css: frontend_class" class="amrewards-highlight-container">
    <div class="caption">
        <strong>
            <!--ko text: captionStartText --><!-- /ko -->
            <b data-bind="style: {'color': highlight().caption_color}, i18n: highlight().caption_text"></b>
            <b data-bind="style: {'color': highlight().caption_color}, i18n: 'points'"></b>
            <!--ko text: captionEndText --><!-- /ko -->
        </strong>
    </div>
</div>
<!-- /ko -->
